@tailwind base;
@tailwind components;
@tailwind utilities;


footer {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    bottom: 0;
    height: 80px;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    font-size: 25px;
    width: 100vw;
    text-align: center;
    align-items: center;
    margin: 0;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);

}
body{
    background: radial-gradient(#7c6a7c 2%, transparent);
}